header{
	min-height: 50px;
	border-bottom: 3px solid black;
}
footer{
	min-height: 60px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
.logoPhoto{
	width: 50px;
	height: 50px;
	margin-left: 20px;
}
.setupPhoto{
	width: 50px;
	height: 50px;
}
.companyName{
	font-size: 30px;
	text-align: center;
}
.marioPhoto{
	width: 200px;
	height: 400px;
	margin-top: 20px;
}
.textBody{
	margin-top: 150px;
}
